* {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: white;
}

body {
  background: rgb(14, 14, 15);
  background: -moz-linear-gradient(
    90deg,
    rgba(14, 14, 15, 1) 0%,
    rgba(81, 84, 86, 1) 100%,
    rgba(126, 130, 134, 1) 100%,
    rgba(44, 46, 48, 1) 100%,
    rgba(177, 182, 184, 1) 100%,
    rgba(15, 16, 17, 1) 100%
  );
  background: -webkit-linear-gradient(
    90deg,
    rgba(14, 14, 15, 1) 0%,
    rgba(81, 84, 86, 1) 100%,
    rgba(126, 130, 134, 1) 100%,
    rgba(44, 46, 48, 1) 100%,
    rgba(177, 182, 184, 1) 100%,
    rgba(15, 16, 17, 1) 100%
  );
  background: linear-gradient(
    90deg,
    rgba(14, 14, 15, 1) 0%,
    rgba(81, 84, 86, 1) 100%,
    rgba(126, 130, 134, 1) 100%,
    rgba(44, 46, 48, 1) 100%,
    rgba(177, 182, 184, 1) 100%,
    rgba(15, 16, 17, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0e0e0f",endColorstr="#0f1011",GradientType=1);
  min-height: 100vh;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3.5rem;
}

h3 {
  font-size: 3rem;
}

h4 {
  font-size: 2.5rem;
}

h5 {
  font-size: 2rem;
}

.title {
}

.info-list > li {
  font-size: 18px;
  line-height: 24px;
  word-spacing: 1.05px;
  padding: 5px;
}

@media screen and (max-width: 500px) {
  .info-list > li {
    line-height: 40px;
  }
}
section {
  padding: 0px 8vw;
}

.react-icon {
  height: 80px;
  margin-left: 10px;
  -webkit-animation: spin 4s linear infinite;
  -moz-animation: spin 4s linear infinite;
  animation: spin 4s linear infinite;
}
@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/* author */

.author_profile {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.author_image {
  height: 120px;
  border-radius: 50%;
  object-fit: contain;
  margin-left: 1%;
}

.author_info {
  font-size: 18px;
  font-weight: 300;
}

.author_info > a {
  text-decoration: none;
}

.course_time > label {
  font-size: 18px;
  font-weight: 300;
}
